{% extends 'listar_categoria.html' %}

{% block content %}
  <h1>Exclude Files</h1>
  <form method="post">
    {% csrf_token %}
    <label for="excluir_categoria">selecionar produto:</label>
    <select id="excluir_categoria" name="excluir_categoria">
      {% for file in files %}
        <option value="{{ excluir_categoria.id }}">{{ excluir_categoria.name }}</option>
      {% endfor %}
    </select>
    <button type="submit">Excluir Categoria</button>
  </form>

  {% if excluded_files %}
    <h2>Excluded Files:</h2>
    <ul>
      {% for file in excluded_files %}
        <li>{{ excluir_categoria.name }}</li>
      {% endfor %}
    </ul>
  {% endif %}